# Angular build output
/dist
/tmp
/out-tsc
/.angular

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Upload artifacts created by the local API server
server/uploads

# IDEs
.vscode
.idea
*.swp
.DS_Store
